#one{
    background-color: blue;
    height: 150px;
    width: 150px;
    border: 5px solid black;
    color: yellow;
    box-sizing: border-box;
}
#two{
    background-color: blue;
    height: 150px;
    width: 150px;
    border: 5px solid black;
    color: yellow;
    box-sizing: border-box;
}
#three{
    background-color: blue;
    height: 150px;
    width: 150px;
    border: 5px solid black;
    color: yellow;
    box-sizing: border-box;
}
#four{
    background-color: blue;
    height: 150px;
    width: 150px;
    border: 5px solid black;
    color: yellow;
    box-sizing: border-box;
}

#div{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    border: 1px solid red;
    height: 900px;
    align-items: flex-end;
    /* flex-wrap: wrap; */
    /* gap: 50px; */
}


/* 

flex-direction : row --> horizontal is justify content and vertical is align -items
flex-direction : column --> horizontal is align items and vertical is justify content
*/